.header{
    text-align: center;
    margin: 16px 0;
}
.logo{
    height: 70px;
    width: 250px;
}
.nav{
    background-color: black;
}
.menu{
    list-style: none;
    display: flex;
    justify-content: center;
}
.menu li{
    padding: 12px;
    margin: 0 5px;
}
.menu li:hover{
    background-color: lightcyan;
}
.menu a{
    text-decoration: none;
    color: lavenderblush;
    font-size: 20px;
}
.menu li:hover a{
    color: black;
}