.header{
    text-align: center;
    margin: 16px 0;
}
.heading{
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon{
    font-size: 48px;
    margin-right: 10px;
    margin-bottom: 16px;
    color: #221F1F;
}
.logo{
    height: 70px;
    width: 250px;
}
.nav{
    background-color: black;
}
.menu{
    list-style: none;
    display: flex;
    justify-content: center;
}
.menu li{
    padding: 12px;
    margin: 0 5px;
}
.menu li:hover{
    background-color: lightcyan;
}
.menu a{
    text-decoration: none;
    color: lavenderblush;
    font-size: 20px;
}
.menu li:hover a{
    color: black;
}
.name-logout{
    color: white;
    display: flex;
    align-items: center;
    gap: 5px;
    margin-left: 32px;
}